.container1
{
   margin:10px;
   padding:10px;
   content:0%;
   border: 2px solid black;
   box-sizing: border-box;
   background-color: antiquewhite;

}
.container2
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container3
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container4
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container5
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container6
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container7
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container8
{
    margin:10px;
    padding:10px;
    content:0%;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.image-size
{
    height:100px;
    width:100px
}